#main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#column1 img {
    width: 400px;

}

#column2 {
    background-color: #b9b8b9;
    height: 100%;
}

#column2 h2 {
    padding-top: 400px;
    padding-bottom: 0px;
}

#title {
    text-align: center;
    font-size: 150px;
    margin-top: -550px;
    letter-spacing: 0.18em;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif
}

h2 {
    color: #a54043;
    font-size: 80px;
    letter-spacing: 0.2em;
}