@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rosario:wght@700&display=swap');


:root {
    /* change the values below to your colors from your palette */
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --accent1-color: #FDBE34;
    --accent2-color: #000000;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Rosario', sans-serif;;
    --paragraph-font: 'Lato', sans-serif;
}

/* Body */

body {
    background-color: var(--secondary-color);
    font-family: var(--paragraph-font);
    font-size: 17px;
    margin: 0;
    padding: 0;
}


.content {
    max-width: 1600px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    font-weight: 900;
}

.section-subtitle {
    text-align: center;
}

.button {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    width: 100px;
    padding: 18px;
}

.button a {
    text-decoration: none;
    color: var(--secondary-color);
}

.button a:hover{
    text-decoration: underline;
    color: var(--secondary-color);
}

/* Nav Bar */

header {
    display: grid;
    background-color: var(--primary-color);
    grid-template-columns: 200px auto;
}

nav {
    display: flex;
    justify-content: end;
}

nav a {
    text-align: center;
    color: var(--secondary-color);
    text-decoration: none;
    font-family: var(--paragraph-font);
    padding: 25px;
}

nav a:hover{
    color: var(--accent1-color);
}

.logo {
    width: 200px;
}

.logo_link {
    padding-top: 12px;
    padding-left: 30px;
}

/* Hero Banner */

#hero {
    display: grid;
    grid-template-columns: 15% 3fr 15%;
    grid-template-rows: 10% 3fr 10%;
}

#hero-img {
    width: 100%;
    background-size: cover;
    margin-top: -250px;
    opacity: 0.6;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -2;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
}

.home-title {
    color: var(--accent1-color);
    font-family: "Oswald", Arial, sans-serif;;
    font-size: 2em;
    margin-top: 10px;
}

/* Mission */

.section-mission p {
    text-align: center;
}

.section-mission {
    margin: 80px;
}


/* Stories */

.stories-grid {
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 3fr;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.stories-grid .section-title, .stories-grid .section-subtitle {
    color: var(--secondary-color);
    grid-column: 1/3 span;
}

.story-box1 {
    background-color: var(--secondary-color);
    padding: 20px;
    margin: 20px;
}

.story-box2 {
    background-color: var(--secondary-color);
    padding: 20px;
    margin: 20px;
}

.story-img img {
    width: 100px;
    border-radius: 50%;

}

/*Volunteer*/

.section-volunteer {
    display: flex;
    height: 400px;
}

#volunteer-box {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    padding: 50px;
}


/*Donate*/

.section-donate {
    padding: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-donate img {
    width: 800px;
    grid-column: 1/2;
    z-index: -1;
}

#background {
    background-color: #FDBE34;
    height: 350px;
    grid-column: 2/3;
    margin-left: -50px;
    margin-top: 20px;
    padding: 25px;
}


/* Footer */

footer {
    display: grid;
    grid-template-columns: 200px auto;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    padding: 12.5px 25px;
    margin-top: 100px;
}

footer #copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

footer .social {
    display: flex;
    justify-content: end;
}
